/*============= MEDAILONEK =============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


table {
  /* position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 100px; */
  
}

img{
    height: 320px;
    margin-bottom: 50px;
  }

tr {
  /* width: 600px; */
 
}

tr {
  /* width: 600px; */
  border: none;
  
}

td {
  /* width: 300px; */
  padding: 0;
}
 
.left {
  text-align: right;
  padding-right: 20px;
}

.right {
  text-align: left;
  border-left: 1px solid #cccccc;
  padding-left: 20px;
} 





@media (max-width: 767px){

  table {
    /* font-size: 1rem; */
    font-size: 10px;
  }


    img{
      height: 220px;
    }

}
 
  

  
