.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 9s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 000;
    }
}

#heart {
    height: 60vh;
    margin-top: 100px;
}

.bordersvg {
    border: solid 100px;
    border-color: #f1f1f1;
    height: 100vh;
}

/*---Media Queries---*/
@media (max-width: 767px) {

    .bordersvg {
        width: 100vw;
    }

    #heart {
        width: 60vw;
        margin-top: 250px;
    }
}

@media (max-width: 945px) {

    .bordersvg {
        width: 100vw;
    }

    #heart {
        width: 60vw;
        margin-top: 250px;
    }
}