.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 9s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 000;
    }
}

#srdce {
height: 50vh;
}



@media (max-width: 767px) {

    #srdce {
        width: 70vw;
    }
