@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

#vanoce {
  background:url("img/KARIKO/unnamed.gif"); 
  background-color: #89CBC9;
}

.path {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 12s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1800;
  }
  to {
    stroke-dashoffset: 000;
  }
}

/*---Header---*/
#domu {
  background-color: #89CBC9;
  color: white;
}

#imglogo {
  height: 20rem;
}

/*---Myšlenka---*/
#myslenka {
  background-color: #f1f1f1;
}

#zarovka {
  height: 30vh;
  margin-top: -105px;
}

#stromek {
  height: 40vh;
  /* margin-top: -50px; */
}

/* .path {
  stroke-dasharray: 600;
  stroke-dashoffset: 1;
  animation: dash 12s linear alternate infinite;
}


@keyframes dash {
  from {
    stroke-dashoffset: 600;
  }

  to {
    stroke-dashoffset: 000;
  }
} */


/*---Body---*/
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 22px;
}

.offset:before {
  height: 3.9rem;
  margin-top: -3.8rem;
  content: "";
}

h1 {
  font-size: 37px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}

#vesele-vanoce {
  font-size: 50px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  font-size: 37px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 50px;
}

h4 {
  font-size: 32px;
  font-weight: 400;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  margin-bottom: 25px;
  margin-top: 25px;
}

h5 {
  font-size: 27px;
  font-weight: 400;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  color: black;

}


/*---Projekty---*/


#projekty {
  background-color: white;
}

.border-light {
  border: none;
}

.imgprojekty {
  width: 100%;
}

.text-decoration-none:hover {
  text-decoration: white;
}

/*---Blog---*/
#blog {
  height: 180px;
}

#mujblog {
  background-color: #f1f1f1;
}

.backgroundcard {
  background-color: #f1f1f1;
}

#imgpost {
  width: 40%;
  font-family: 'Delius', cursive;
}

.h5post1{
  font-family: 'Delius', cursive;
}

/*---Contact--Footer---*/
footer {
  background-color: #89CBC9;
}

footer img {
  height: 2rem;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.8rem;
}

footer svg.svg-inline--fa:hover {
  color: #7A656A;
}


.link {
  color: white;
}

.list-inline .list-inline-item li {
  padding-right: .7rem;
}


.itemwebdesign {
  color: #7A656A;
  height: 2rem;
  font-size: 2.5rem;
  padding-right: .7rem;
}

#itemwebdesigndomu {
  font-size: 1.4rem;
}

.itemwebdesign:hover {
  color: #89CBC9;
}

#domufooter:hover {
  color: #7A656A;
}

#viceomne {
  color: #7A656A;
  font-style: italic;
}

#viceomne:hover {
  color: #89CBC9;
}

.mezera {
  margin-top: 1rem;
}

.imgprop {
  width: 450px;
}

/*---Media Queries---*/

@media (max-width: 767px) {

  .navbar {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .05) !important;
  }

  #zarovka {
    height: 50vh;
    margin-top: -116px;
  }

  #stromek {
    height: 40vh;
    /* margin-top: -50px; */
  }


  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  #vesele-vanoce{
    font-size: 20px;
    margin-bottom: 0px;
  margin-top: 0px;
  }

  h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 20px;

  }

  h5 {
    font-size: 16px;

  }

  .vykreslovani {
    font-size: 10px;
  }

  #imglogo {
    height: 150px;
  }

  .imgprojekty {
    width: 50%;
  }

  #imgpost {
    width: 35%;
  }

  .imgprop {
    width: 90vw;
  }

  #itemwebdesigndomu {
    font-size: 12px;
  }

  .text-decoration-none:hover {
    text-decoration: white;
  }
}

@media (max-width: 767px) {
  .imgprop {
    width: 90vw;
  }

  .vykreslovani {
    font-size: 10px;
  }

  #itemwebdesigndomu {
    font-size: 12px;
  }

  .text-decoration-none:hover {
    text-decoration: white;
  }

  #imgpost {
    width: 35%;
  }

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

