@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 20px;
}

.offset:before {
height: 3.9rem;
margin-top: -3.8rem;
content:"";
/* display:block; */
}

  /*---Navbar---*/
  /* .navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0 ,0 ,0 , .05)!important;
  }

  .navbar-brand img {
    height: 2rem;
  }

  .navbar-nav li {
    padding-right: .7rem;
  }


  .navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
  }

  .navbar-dark .navbar-nav,
  .navbar-dark .navbar-nav .nav-link:hover {
    color:  #89CBC9;
  } */
 /*---Header---*/
  #domu {
    background-color: #89CBC9;
    color: white;
    /* height: 50rem; */
    /* padding: 2rem 0 3rem;
    margin-top: 1rem; */
    /* height: 100vh; */
  }
  
    img {
    height: 20rem;
  }

   /* #logobez {
    height: 3rem;
    margin: 0;
  } */
  
  /*
  header a {
    color: white;
  }
  
  header svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
  }
  
  header svg.svg-inline--fa:hover {
  color:  #89CBC9;
  } */
  
  
/*---Sider---*/
/* .carousel-item {
height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
  }

.carousel-caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  }

.carousel-caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  }

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

.jumbotron {
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #89CBC9;
  margin: 0 auto 2rem;
} */

/*---Myšlenka---*/
#myslenka{
  background-color:#f1f1f1;
  /* height: 50rem; */
}

#zarovka {
  height: 60vh;
  margin-top: -110px;
}

.path {
  stroke-dasharray: 600;
  stroke-dashoffset: 1;
  animation: dash 12s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 600;
  }
  to {
    stroke-dashoffset: 000;
  }
}


/*---Body---*/
h1 {
    font-size: 35px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
  }

h3 {
    font-size: 35px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  h4 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  h5 {
    font-size: 25px;
    font-weight: 400;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    color: black;
    
  }


  /*---Portfolio---*/

/* .margin-down  {
    margin-bottom: 25px;
    
  } */
.border-light {
  border: none; 
}

.jumbotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
    background-color: white;
  }

.portfolio img {
  max-width: 100%;
  transition: transform .5s ease;
}


.row.no-padding [class*=col-] {
  padding: 0;
}

.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.portfolio {
  overflow: hidden;
}


.shadow {
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  box-shadow: 0 10px 40px 0 rgba(255, 255, 255, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  }

/*---Blog---*/

  /* @import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
  body {
    font-family: "Roboto", sans-serif;
    background-color:white;
  } */
  

  #projekty {
    background-color: white;
  }

  .borderbor {
  background-color: white;
  }

  .btn-light {
    background-color:#f1f1f1;
    }


  .btn-outline-info {
    border-color: #89CBC9;
    color:  #89CBC9;
    border-radius: .6rem;
    border-width: 2px;
    padding: .5rem 1.1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

 .btn-outline-info:hover {
   border-color: #1ebba3;
   background-color: #1ebba3;
   color: white;
  }

  .share:hover {
  color: #1ebba3;
  }

  ._textGray {
    color: #89CBC9;
  }

  ._day {
    color: #89CBC9;
    font-size: 2rem;
  }



  ._day ._date {
    font-size: 6.625rem;
  }

  ._moveTop {
    top: -1.25rem;
  }

  .size {
    padding: .6rem;
    font-size: 1.2rem;
  }

  #mujblog {
    background-color: #f1f1f1;
  }



/*---Contact--Footer---*/
footer {
  background-color: #89CBC9;
  /* padding: 2rem 0 3rem; */
  /* margin-top: 1rem; */
}

footer img {
  height: 2rem;
  /* margin: 1.5rem 0; */
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  /* margin: 1.2rem .5rem 0 0; */
}

footer svg.svg-inline--fa:hover {
color:#7A656A;
}

/* hr.socket {
  border-top: .2rem solid #89CBC9;
  width: 100%;
} */

.link {
  color: white;
}

.list-inline .list-inline-item li {
  padding-right: .7rem;
}

#domufooter:hover {
  color: #7A656A;
  }

#viceomne {
color: #7A656A;
font-style: italic;
}

#viceomne:hover {
  color: #89CBC9;
  }

.mezera {
  margin-top: 1rem;
  }

/*---Media Queries---*/

@media (max-width: 767px){

  .navbar {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1rem;
    background: rgba(0 ,0 ,0, .05)!important;
  }

  #zarovka {
    height: 80vh;
    margin-top: -110px;
  }

  
  p {
    /* font-size: 1rem; */
    font-size: 12px;
  }

  h1 {
      /* font-size: 2.3rem;
      letter-spacing: .15rem;
      padding-bottom: 5rem; */
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 30px; 
    }

    h3 {
      /* font-size: 1.2rem;
      padding-bottom: 1.2rem; */
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 30px; 
      }

    h4 {
      /* font-size: 2.3rem;
      letter-spacing: .15rem;
      padding-bottom: 5rem; */
      font-size: 20px;
    
    }

    h5 {
      /* font-size: 2.3rem;
      letter-spacing: .15rem;
      padding-bottom: 5rem; */
      font-size: 20px;
   
    }

    #logo {
    height: 150px;
    }

  .btn-sm {
    /* font-size: 1rem; */
    font-size: 12px;
  }
  

  .lead {
    font-size: 15px;
    /* font-size: 1rem; */
    /* font-size: 0.5rem; */
  }
}

/*============= COURSE SECTION =============*/

/* .narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

